@import "tailwindcss";

@theme {
  --color-gold: rgb(202, 172, 0);
  --font-title: 'Poltawski Nowy', serif;
  --font-common: 'Public Sans', sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

.page-title {
  @apply text-4xl text-center text-gold uppercase underline font-title tracking-[0.25rem]
}